.right {
  position: absolute;
  right: -13px;
  width: 103px;
  padding: 16px;
  color: darkgray;
}
.center {
  text-align: center;
}

footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2B2B2B;
}

.text-muted {
    margin: 20px 0;
}


table {
    border-collapse: collapse;
    width: 100%;
    border-color: #DADADA;
    border-style: solid;
    border-width: 1px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #fff}
tr:nth-child(odd){background-color: #F4F9FD}

th {
    background-color: #404040;
    color: white;
}

.jumbotron {
	    background-color: #FBFDFF !important;
}

.navbar-default{
	    background-color: #2B2B2B !important;
	    border-radius: 0px !important;
	    border-color: #2B2B2B !important;
}


.btn-success {
    color: #fff!important;
    background-color: #404040!important;
    border-color: #000!important;
}

.btn-success:hover {
    color: #fff!important;
    background-color: #000!important;
    border-color: #000!important;
}

.inputWidth {
    width:400px; 
    padding: 5px 0 7px 10px;
}

.cstm-alert-danger{
    border-radius: 0px!important;
    padding: 5px !important;
    width: 482px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}