<div class="jumbotron">
  <div class="container" style="text-align: center;">
    <form>
      <input class="inputWidth" type="text" g-places-autocomplete options="autocompleteOptions" ng-model="location" ng-change="clearErrorBoxes()" placeholder="Enter City">
      &nbsp;
      <button class="btn btn-success" type="submit" ng-click="submit(location)">Submit</button>
      <button class="btn btn-default" type="submit" ng-click="clearUI()" ng-show="results.length">Reset</button>
      <br><br>
      <div class="alert alert-danger cstm-alert-danger" ng-show="noResponseError">
        <strong> No results found for {{location.formatted_address}} </strong>
      </div>
      <div class="alert alert-danger cstm-alert-danger" ng-show="invalidInputError">
        <strong> Invalid input. Please select a valid city. </strong>
      </div>
      <div us-spinner></div>
    </form>


  <div ng-show="results.length"><br><br>
    <p ng-show="results"><strong>Location:</strong> {{location.formatted_address}}</p><br>
    <table class="table table-hover table-bordered" >
      <colgroup>
        <col width="50%"/>
        <col width="50%"/>
      </colgroup>
      <thead>
       <tr>
         <th class="center">Time</th>
         <th class="center">UV Index</th>
       </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in results">
          <td class="center">{{result.DATE_TIME}}</td>
          <td class="center" ng-class="result.EXPOSURE" title="Exposure level: {{result.EXPOSURE}}">{{result.UV_VALUE}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>

